<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android" id="com.gk.sharefile"
    version="0.0.1">
    <name>ShareFile</name>
    <description>Share File</description>
    <license>Apache 2.0</license>
    <keywords>share,gmail, bluetooth</keywords>
    
    <js-module src="www/sharefile.js" name="ShareFile">
        <clobbers target="window.navigator.sharefile" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ShareFile" >
                <param name="android-package" value="com.gk.sharefile.ShareFile"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/ShareFile.java" target-dir="src/com/gk/sharefile" />
     </platform>
</plugin>
